@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Add data</h2>
        <p>
           Here You can add data to the database.
        </p>
        <p><a class="btn btn-default" href="/Home/Create">Create &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Search</h2>
        <p>Here you can search through the database</p>
        <p><a class="btn btn-default" href="/Home/Search">search &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Update</h2>
        <p>Here you can update existing data in the database</p>
        <p><a class="btn btn-default" href="/Home/Update">Update &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Delete</h2>
        <p>Here you can delete existing data in the database</p>
        <p><a class="btn btn-default" href="/Home/Delete">Delete &raquo;</a></p>
    </div>
</div>